.label {
  color: white;
  user-select: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2em;
  color: #fafafa;
  position: relative;
}
.checkboxes {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, min-content);
  grid-gap: 28px 76px;
}
.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}
span {
  display: flex;
  align-items: center;
}
span::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #f8ef00;
  margin-right: 8px;
}
span::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #f8ef00;
  opacity: 0;
}
.label .checkbox:checked + span::after {
  opacity: 1;
}
